<ion-content [fullscreen]="true">
  <ion-content>
    <form [formGroup]="preguntaForm" (ngSubmit)="guardarPregunta()">
      <ion-item>
        <ion-label position="stacked">Pregunta</ion-label>
        <ion-input formControlName="titulo" placeholder="Escribe tu pregunta"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="preguntaForm.get('titulo')?.invalid && preguntaForm.get('titulo')?.touched">
        La pregunta es obligatoria.
      </ion-text>
  
      <ion-list>
        <div formArrayName="opciones">
          <ion-item *ngFor="let opcion of opciones.controls; let i = index" [formGroupName]="i">
            <ion-input formControlName="opcion" placeholder="Escribe la opción {{ i + 1 }}"></ion-input>
            <ion-button fill="clear" color="danger" (click)="eliminarOpcion(i)">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-item>
        </div>
      </ion-list>
      <ion-button expand="block" (click)="agregarOpcion()">Agregar Opción</ion-button>
  
      <ion-item>
        <ion-label position="stacked">Opción Correcta</ion-label>
        <ion-select formControlName="correcta">
          <ion-select-option *ngFor="let opcion of opciones.controls; let i = index" [value]="i">
            Opción {{ i + 1 }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-text color="danger" *ngIf="preguntaForm.get('correcta')?.invalid && preguntaForm.get('correcta')?.touched">
        Selecciona una opción correcta.
      </ion-text>
  
      <ion-button expand="block" type="submit" [disabled]="preguntaForm.invalid">
        {{ editando ? 'Guardar Cambios' : 'Agregar Pregunta' }}
      </ion-button>
    </form>
  
    <!-- Lista de Preguntas Existentes -->
    <ion-list *ngIf="preguntas.length > 0">
      <ion-item *ngFor="let pregunta of preguntas; let i = index">
        <ion-label>
          <h2>{{ pregunta.titulo }}</h2>
          <p>Opción Correcta: {{ pregunta.opciones[pregunta.correcta]?.opcion }}</p>
        </ion-label>
        <ion-buttons slot="end">
          <ion-button color="secondary" (click)="editarPregunta(i)">
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
          <ion-button color="danger" (click)="eliminarPregunta(i)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-content>
